# Python bytecode files
__pycache__/
*.py[cod]
*$py.class

# Django specific files
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
/static/
media/

# Virtual environment folder
venv/

# IDEs and editors
.vscode/
.idea/

# MacOS specific
.DS_Store

# Python egg files
*.egg
*.egg-info/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
